@charset "utf-8";
*{
    padding: 0;
    margin:0;
}
header{
    background-color: #520916;
    position: relative;
    border-bottom: solid 7px #be9857;
}
.header-title img{
    width: 200px;
    height: auto;
    position: absolute;
    left: calc(50% - 100px);
    top: 10px;
    z-index: 1;
}
.header-column-section{
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    max-width:1500px;
    margin:0 auto;
}
.header-column{
    width: 40%;
    display: flex;
    justify-content:space-around;
}
.header-list a{
    color: white;
    font-size: 22px;
    text-decoration: none;
    border-bottom: solid 5px #fccd95;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.header-list a:hover{
    color: #dbcba8;
}
.recommends{
    background-color: #151715;
    border-top: solid 3px #fff;
    position: relative;
    padding-top:70px;
}
.recommends-title{
    position: relative;
    width: 595px;
    color: #dbcba8;
    margin:0 auto;
    margin-bottom: 50px;
    padding-top:70px;
    padding-bottom: 8px;
    font-size: 70px;
    text-align: center;
    line-height: 60%;
    border-bottom:solid 7px #dbcba8;
    font-family: 'Noto Serif JP', serif;
}
.recommends-title::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -7px;
    left: 0;
    border-bottom:7px solid #961027;
    border-left:45px solid #961027;
}
.recommends-subtitle{
    color: #fff;
    font-size:20px;
}
.recommend{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.recommend:nth-child(odd){
    flex-direction:row;
    background-color:rgb(32, 11, 0);
}
.recommend:nth-child(even){
    flex-direction:row-reverse;
}
.recommend-section{
    width: 47%;
    padding-left:5%;
}
.recommend-title{
    color:#dbcba8;
    font-size:3.8vw;
    font-family: 'Noto Serif JP', serif;
    padding-bottom: 10px;
    border-bottom: solid 5px #730c1e;
    border-width: auto;
    display: inline-block;
}
.recommend-price{
    color:#fff;
    font-size:2vw;
    padding-top: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.recommend-lead{
    color: #fff;
    font-size:1.2vw;
    padding-top: 15px;
    line-height: 220%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.recommend-img img{
    width: 100%;
    height: 100%;
}
.recommend-img{
    width: 53%;
    height:calc(100% + 20px);
}
.details{
    display:flex;
    flex-wrap:wrap;
    padding: 100px 50px;
    box-sizing: border-box;
    justify-content: space-between;
    background-color:rgb(32, 11, 0);
}
.detail{
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    padding-bottom: 8px;
    border-bottom: solid 3px #fccd95;
    border-bottom-style: dotted;
}
.detail-title{
    color: #fff;
    font-size: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.detail-lead{
    font-size: 15px; 
    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.acsesses{
    background-color: #151715;
    border-bottom:solid 3px #fff;
}
.acsesses-title{
    position: relative;
    width: 265px;
    color: #dbcba8;
    margin:0 auto;
    margin-bottom: 50px;
    padding-top:70px;
    padding-bottom: 8px;
    font-size: 70px;
    text-align: center;
    line-height: 60%;
    border-bottom:solid 7px #dbcba8;
    font-family: 'Noto Serif JP', serif;
}
.acsesses-title::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -7px;
    left: 0;
    border-bottom:7px solid #961027;
    border-left:58px solid #961027;
}
.acsesses-subtitle{
    color: #fff;
    font-size:20px;
}
.acsesses-section{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 52px;
}
.acsess-section{
    display: block;
    padding-left: 100px;
}
.acsess{
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
    width: 400px;
    margin-bottom:21px;
}
.acsess-title{
    width: 140px;
    height: 25px;
    color:#dbcba8;
    font-size:18px;
    padding-bottom:5px;
    border-bottom:solid 2px #961027;
}
.acsess-lead{
    width: 190px;
    height: 30px;
    color:#fff;
}
.acsess-img img{
    width: 400px;
    height: auto;
}
.footer{
    background-color: #520916;
    position: relative;
    border-top:solid 7px #be9857;
    position: relative;
}
.footer-title img{
    width:120px;
    position: absolute;
    top:-60px;
    left: 70px;
}
.footer-column{
    display: flex;
    justify-content:space-around;
    padding:40px 0px 40px 230px;
    list-style:none;
}
.footer-column-list a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    border-bottom: solid 5px #fccd95;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.footer-column-list a:hover{
    color: #dbcba8;
}
.footer-copy{
    padding: 8px 0px;
    font-size: 15px;
    background-color: #111;
    border-top:solid 3px #fff;
    color:#fff;
    text-align: center;
}
@media screen and (max-width:980px) {
    .header-title img{
    width: 90px;
    left: calc(50% - 45px);
    top: calc(50% - 45px);
    }
    .header-column-section{
    height: 120px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    max-width:1500px;
    margin:0 auto;
    }
    .header-list a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-bottom: solid 2px #fccd95;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    .header-list a:hover{
    color: #dbcba8;
    }
    .acsesses-section{
    display: block;
    padding-bottom: 0px;
    }
    .acsess-section{
    display: block;
    padding-left: 0px;
    padding-top:30px;
    padding-bottom:30px;
    }
    .acsess{
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
    margin: 0 auto 20px;
    }
    .acsess-img{
    width: 400px;
    height: auto;
    margin:0 auto ;
    }
    .footer-title img{
    width:80px;
    position: absolute;
    top:13px;
    left: 20px;
    }
    .footer-column{
    display: flex;
    justify-content:space-around;
    padding:40px 0px 40px 100px;
    list-style:none;
    }
    .footer-column-list a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-bottom: solid 2px #fccd95;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    .recommends{
        padding-top:0;
    }
    .recommend-title{
    font-size:3.8vw;
    padding-bottom: 8px;
    border-bottom: solid 3px #730c1e;
    }
    .recommend-price{
    color:#fff;
    font-size:2vw;
    padding-top: 8px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    .recommend-lead{
    font-size:1.1vw;
    line-height: 200%;
    padding-top: 8px;
    }
    .detail{
    width: 40%;
    }
}
@media screen and (max-width:630px) {
    .header-title img{
    width: 50px;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    }
    .header-column-section{
    height: 70px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin:0 auto;
    }
    .header-list a{
    color: white;
    font-size: 10px;
    text-decoration: none;
    border-bottom: solid 2px #fccd95;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    .header-list a:hover{
    color: #dbcba8;
    }
    .acsesses-title{
    width: 185px;
    font-size: 50px;
    border-bottom:solid 4px #dbcba8;
    }
    .acsesses-title::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
    border-bottom:4px solid #961027;
    border-left:35px solid #961027;
    }
    .acsesses-subtitle{
    font-size:15px;
    }
    .acsess{
    height: 37px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    width: 290px;
    padding-left:18px;
    }
    .acsess-section {
    display: block;
    padding:30px 30px;
    }
    .acsess-title{
    width: 120px;
    height: 25px;
    color:#dbcba8;
    font-size:18px;
    }
    .acsess-lead{
    display:inline-block;
    padding-left:20px;
    font-size:10px;
    width: 120px;
    height:20px;
    }
    .acsess-img{
    width: 250px;
    }
    .acsess-img img{
    width: 250px;
    }
    .footer-title img{
    width:80px;
    position: absolute;
    top:15px;
    left:calc(50% - 40px);
    }
    .footer-column{
    display: flex;
    justify-content:space-around;
    padding:110px 0px 40px 0px;
    list-style:none;
    }
    .footer-column-list a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-bottom: solid 2px #fccd95;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    
    .recommends-title{
        position: relative;
        width: 299px;
        color: #dbcba8;
        margin:0 auto;
        margin-bottom: 50px;
        padding-top:70px;
        padding-bottom: 8px;
        font-size: 35px;
        text-align: center;
        line-height: 60%;
        border-bottom:solid 4px #dbcba8;
        font-family: 'Noto Serif JP', serif;
    }
    .recommends-title::after{
        content: '';
        display: block;
        position: absolute;
        bottom: -4px;
        left: 0;
        border-bottom:4px solid #961027;
        border-left:25px solid #961027;
    }
    .recommends-subtitle{
        color: #fff;
        font-size:12px;
    }
    .recommend{
    display:flex;
    justify-content: space-between;
    align-items: center;
    }
    .recommend-section {
    width:auto;
    padding-left: 5%;
    margin:0 auto;
    }
    .recommend-title{
    font-size:3.5vw;
    padding-bottom: 8px;
    border-bottom: solid 2px #730c1e;
    }
    .recommend-price{
    color:#fff;
    font-size:1.8vw;
    padding-top: 8px;
    font-family: 'M PLUS Rounded 1c', sans-serif;

    }
    .recommend-lead{
    font-size:10px;
    line-height: 120%;
    padding-top: 8px;
    }
    .details{
    display:flex;
    flex-wrap:wrap;
    padding: 100px 50px;
    box-sizing: border-box;
    justify-content: space-between;
    background-color:rgb(32, 11, 0);
    }
    .detail{
    width: 100%;
    border-bottom: solid 2px #fccd95;
    border-bottom-style: dotted;
    max-width:400px;
    }
    .detail-title{
    color: #fff;
    font-size: 12px;
    }
    .detail-lead{
    font-size: 12px; 
    color: #fff;
    }
}